.THIS .cntr-btn2{
    background: t(colorBackgroundAlt);
    border-bottom:1px solid lightgray;
    padding-top:5px;
    padding-bottom:5px;   
}

.THIS .cntr-btn{
    background: t(colorBackgroundAlt);
    padding-top:5px;
    padding-bottom:5px;   
}

/* .THIS.button{
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    height: 100px;
    width: 1000px;
    display: inline-block;

} */

.THIS .buttonS5{
    border-top-left-radius: 50px  !important;
    border-bottom-left-radius: 50px !important; 
}

.THIS .buttonA5{
    border-top-right-radius: 50px  !important;
    border-bottom-right-radius: 50px !important; 
}