.THIS {}

.THIS .slds-form-element {
    display: contents;
}

.THIS .CategoryLayout {
    font-weight: bold;
    font-size: 14px;
}

.THIS .extraMargin {
    margin-top: 5px;
    margin-bottom: 5px;
}

.THIS .slds-input {
    /* background-color: lightgray; */
    padding-left: 10px;
}

.THIS .slds-align_absolute-center {
    text-align: left;
}

.THIS textarea {
    height: 100px;
}