.THIS .right-align {
  text-align: right;
}

.THIS .dropboxWidth {
  max-width: 200px;
}

.THIS .slds-textarea {
  height: 5rem !important;
}

.THIS .buttonWidth {
  width: 50px;
}

.THIS .ml-0 {
  margin-left: 0px;
}

.THIS .text-center {
  text-align: center;
}

.THIS .white {
  color: white;
}

.THIS .label-hidden > label {
  display: none;
}

.THIS .panel-history-margin {
    margin: 10px 0;
}

.THIS .inline-element {
  display: inline;
}

.THIS .float-right {
  float: right;
}

.THIS .text-right {
  text-align: right;
}