.THIS .button{
    height: 200px;
    width: 200px;
    font-size: 100px;
    
}

.THIS .icon {
    width: 50%;
    height: 50%;
}

.THIS .start {    
    border-radius: 40px 0 0 40px !important;
    margin: 0 0 0 20px;
}
.THIS .next {
    border-radius: 0 40px 40px 0 !important;
    margin: 0 20px 0 0;
}
.THIS .finish {
    margin: 0 20px 0 0;

}
.THIS .interviewscore {
    height: 50%;
}
.THIS .interviewmisc {
    height: 75%;
}