/* RED */
.THIS .red-btn {
    background: token(backgroundFailure);
    color: token(redBtnTextColor);
}
.THIS .red-btn:hover {
    background: token(backgroundFailure);
    color: token(redBtnTextColor);
}
.THIS .red-btn:focus {
    background: token(backgroundFailure);
    color: token(redBtnTextColor);
}

/* GREEN */
.THIS .green-btn {
    background: token(backgroundSuccess);
    color: token(greenBtnTextColor);
}
.THIS .green-btn:hover {
    background: token(backgroundSuccess);
    color: token(greenBtnTextColor);
}
.THIS .green-btn:focus {
    background: token(backgroundSuccess);
    color: token(greenBtnTextColor);
}

/* WHITE */
.THIS .white-btn {
    background: token(backgroundInactive);
    color: token(whiteBtnTextColor);
}
.THIS .white-btn:hover {
    background: token(backgroundInactive);
    color: token(whiteBtnTextColor);
}
.THIS .white-btn:focus {
    background: token(backgroundInactive);
    color: token(whiteBtnTextColor);
}

.THIS .noround {
    border-radius: 0px !important;
}

.THIS .slds-textarea {
    height: 140px !important;
}