.THIS .add-new-btn {
    padding-top: 2em;
}

.THIS .btn-icon :hover {
    cursor: pointer;
}

.THIS .btn-right {
    text-align: right;
}

.THIS .cat-head {
    font-size: 1.4em;
}

.THIS .max-score-size {
    font-size: 2.0em;
}

.THIS .btn-color {
    background-color: #95aec5;
}

.THIS .btn-edit {
    display: inline-block;
    padding: .25em;
}

.THIS .btn-add-new :hover {
    cursor: pointer;
    background-color: #33bce7;
}

.THIS .btn-edit :hover {
    cursor: pointer;
    background-color: #33bce7;
}

.THIS .btn-error {
    padding: .25em;
}

.THIS .btn-error :hover {
    cursor: pointer;
    background-color: #ef6e64;
}

.THIS.footer-bg-color {
    padding-top: 5em;
}